In [185]:
import os
import csv

In [186]:
pip install pandas

Requirement already satisfied: pandas in c:\users\melan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\melan\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\melan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [187]:
import pandas as pd

In [188]:
#budget_data = os.path.join("..","Resources","budget_data.csv")
budget_data = os.path.join("..","PyBank","Resources","budget_data.csv")
#"4-Python Challenge","python-challenge",
print(budget_data) #not necessary

..\PyBank\Resources\budget_data.csv

In [189]:
with open(budget_data) as csvFile:
    csvReader = csv.reader(csvFile, delimiter = ",")
    budgetHeader = next (csvReader)
    print(budgetHeader)

['Date', 'Profit/Losses']

In [190]:
budgetDF = pd.read_csv(budget_data)

In [191]:
budgetDF.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [192]:
#budgetDF.describe

In [193]:
import calendar

In [194]:
from datetime import datetime

In [195]:
TotalNumberofDATES = len(budgetDF["Date"])
print(TotalNumberofDATES)

86

In [196]:
monthname = budgetDF["Date"].str[:3] #instead of figuring out how to convert a string to a month recognized as a date, I treated it as a text string 
monthname.head() #test

0    Jan
1    Feb
2    Mar
3    Apr
4    May
Name: Date, dtype: object

In [197]:
budgetDF["Month"] = monthname
budgetDF.head()

     Date  Profit/Losses Month
0  Jan-10        1088983   Jan
1  Feb-10        -354534   Feb
2  Mar-10         276622   Mar
3  Apr-10        -728133   Apr
4  May-10         852993   May

In [198]:
TotalNumberofMONTHS = len(budgetDF["Month"].unique())
TotalNumberofMONTHS

12

In [199]:
NetTotalofPL = sum(budgetDF["Profit/Losses"])
print(NetTotalofPL)

22564198

In [200]:
GreatestProfitIncrease = budgetDF.sort_values("Profit/Losses", ascending=False)
GreatestProfitIncrease = GreatestProfitIncrease.reset_index(drop=True)
GreatestProfitIncrease = GreatestProfitIncrease.iloc[:1, :2]
GreatestProfitIncrease

     Date  Profit/Losses
0  Mar-13        1141840

In [201]:
GreatestProfitIncrease = budgetDF.sort_values("Profit/Losses", ascending=False)
GreatestProfitIncrease = GreatestProfitIncrease.reset_index(drop=True)
GreatestProfitIncrease = GreatestProfitIncrease["Profit/Losses"].head(1)
GreatestProfitIncrease = GreatestProfitIncrease.max()
GreatestProfitIncrease

1141840

In [202]:
GreatestProfitDecrease = budgetDF.sort_values("Profit/Losses", ascending=True)
GreatestProfitDecrease = GreatestProfitDecrease.reset_index(drop=True)
GreatestProfitDecrease = GreatestProfitDecrease["Profit/Losses"].head(1)
GreatestProfitDecrease = GreatestProfitDecrease.min()
GreatestProfitDecrease

-1194133

In [205]:
changecol = budgetDF["Profit/Losses"].diff(periods=1)
changecol

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [174]:
print(f"Financial Analysis:\n---------------------------------------\nTotal: {NetTotalofPL}\nAverage Change: \nGreatest Increase in Profits: {GreatestProfitIncrease}\nGreatest Decrease in Profits: {GreatestProfitDecrease}\n---------------------------------------")

Financial Analysis:
---------------------------------------
Total: 22564198
Average Change:
Greatest Increase in Profits: 1141840
Greatest Decrease in Profits: -1194133
---------------------------------------

In [35]:
Reportstring = f"Financial Analysis:\n---------------------------------------\nTotal: {NetTotalofPL}\nAverage Change: \nGreateest Increase in Profits: {GreatestProfitIncrease})\nGreatest Decrease in Profits: {GreatestProfitDecrease}\n---------------------------------------"

In [ ]:
with open('PyBankReport.txt', 'w', newline = '') as txtfile:
    my_writer = txtfile.write(Reportstring)
    #my_writer.writerow(Reportstring)